$errorColor: red;
.authform {
   margin: 15px;
   .item {
     margin: 5px 0;
   }
}

.error {
  border-color: $errorColor;
  &:after {
    position: absolute;
    font-family: $ionicons-font-family;
    right: 10px;
    line-height: 2;
    color: $errorColor;
    content: '\f12a';
  }
}

.valid {
  border-color: green;
  &:after {
    position: absolute;
    font-family: $ionicons-font-family;
    right: 10px;
    line-height: 2;
    color: green;
    content: '\f122';
  }
}

.authFormError {
  text-align: center;
  color: $errorColor;
}
