/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #4a87ee !default;
$calm:                            #43cee6 !default;
$balanced:                        #66cc33 !default;
$energized:                       #f0b840 !default;
$assertive:                       #ef4e3a !default;
$royal:                           #8a6de9 !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;
// Include all of Ionic
@import "www/lib/ionic/scss/ionic";
html, body, ion-nav-view {
  background: #fff;
  border-color: #fff;
}
.tabs-active .has-header {
  top: 100px;
}
.maintabs {
  left: 0;
  .tab-item {
    max-width: 250px;
  }
}
@import "../www/views/auth/auth.scss";
@import "../www/views/vendor/profile/profile.scss";
@import "../www/views/menu/menu.scss";
