.profileForm {
  .item-label {
    background: $base-background-color;
  }
  .profileinput {
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 0 5px;
  }
  button {
    height: 55px;
  }
}
.profileToggle {
  margin: 10px auto;
  border: none;
}
.billingarea {
  border: none;
}
.profileheading {
  text-align: center;
  border-left: none;
  border-right: none;
  border-bottom-width: 2px;
}
.profileUpload {
  background: transparent;
}
.profileuploadwrapper {
  border: none;
}
.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px;
  width: 100%;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
.imgbtn {
  text-align: left;
  margin-right: 15px;
}
.largeselect {
  padding: 0.3em 0.1em;
  font-size: 1.1em;
  font-weight: 300;
  width: 100%;
  border-color: darken($stable, 5%);
  &:after {
    font-family: "Ionicons";
    position: absolute;
    content: '\f123';
    right: 15px;
    top: 45px;
    color: $calm;
  }
  select {
    -webkit-appearance: none;
    font-family: $base-font-family;
    width: 100%;
    line-height: 40px;
    font-size: 1.1em;
    text-indent: 15px;
    & > option {
      font-weight: 300 !important;
    }
  }
}
