<ion-view title="User Profile" ng-init="populate();">
  <ion-content has-header="true">
    <form novalidate name="userProfileForm">
      <div class="list profileForm">
        <h4 class="title profileheading">Username: {{data.user.username}}</h4>
        <!--<div class="row">-->
          <!--<label class="col item item-input item-floating-label profileinput">-->
            <!--<span class="input-label">Old Password</span>-->
            <!--<input ng-model="data.oldPassword" type="password" name="oldpassword" placeholder="Old Password">-->
          <!--</label>-->
        <!--</div>-->
        <!--<div class="row">-->
          <!--<label class="col item item-input item-floating-label profileinput">-->
            <!--<span class="input-label">New Password</span>-->
            <!--<input ng-model="data.newPassword" type="password" name="newpassword" placeholder="New Password">-->
          <!--</label>-->
        <!--</div>-->
        <div class="row">
          <label class="col item item-input item-floating-label profileinput">
            <span class="input-label">Email</span>
            <input ng-model="data.user.email" type="email" name="email" placeholder="Email">
          </label>
        </div>
        <div class="row">
          <label class="col item item-input item-floating-label profileinput">
            <span class="input-label">Display Name</span>
            <input ng-model="data.user.displayname" name="displayname" type="text" placeholder="Display Name">
          </label>
        </div>
        <div class="row">
          <label class="col item item-input item-floating-label profileinput">
            <span class="input-label">First</span>
            <input ng-model="data.user.firstname" type="text" name="firstname" placeholder="First">
          </label>
          <label class="col item item-input item-floating-label profileinput">
            <span class="input-label">Middle</span>
            <input ng-model="data.user.middlename" type="text" name="middlename" placeholder="Middle">
          </label>
          <label class="col item item-input item-floating-label profileinput">
            <span class="input-label">Last</span>
            <input ng-model="data.user.lastname" type="text" name="lastname" placeholder="Last">
          </label>
        </div>
        <div class="row">
          <label class="col col item item-input item-floating-label profileinput">
            <span class="input-label">Zip Code</span>
            <input ng-model="data.user.zipcode" type="number" name="zipcode" placeholder="Zip Code">
          </label>
          <label class="col item item-input item-floating-label profileinput">
            <span class="input-label">Age</span>
            <input ng-model="data.user.age" name="age" type="number" placeholder="Age">
          </label>
        </div>
        <div ng-if="check.isVendor()">
        <h3 class="item profileheading">
          Vendor
        </h3>
        <h5 class="title text-center">Profile Image</h5>
        <div class="item item-input item-stable profileuploadwrapper">
          <label class="item-input-wrapper profileinput profileUpload">
            <div class="button button-full button-outline button-positive fileUpload">
              <span ng-if="!data.vendor.fileInput || data.vendor.fileInput === ''">Select Image</span>
              <span ng-if="data.vendor.fileInput">{{data.vendor.fileInput[0].name}}</span>
              <input type="file" class="upload" name="filepic" ng-file-select="data.fileInput = $files">
            </div>
          </label>
          <button class="button button-large button-clear icon-left ion-close button-assertive" ng-if="uploading" ng-click="upload.abort()"></button>
          <button class="button button-large button-clear icon-left ion-upload button-positive" ng-if="!uploading" ng-click="onFileSelect();"></button>
        </div>
        <div class="row">
          <label class="col item item-input item-floating-label profileinput">
            <span class="input-label">Company Name</span>
            <input ng-model="data.vendor.companyname" name="companyname" type="text" placeholder="Company Name">
          </label>
        </div>
        <div class="row">
          <label class="col item item-input item-floating-label profileinput">
            <span class="input-label">Description</span>
            <input ng-model="data.vendor.description" name="description" type="text" placeholder="Description">
          </label>
        </div>
        <div class="row">
          <label class="col item item-input item-floating-label profileinput">
            <span class="input-label">Types</span>
            <input ng-model="data.vendor.types" name="types" type="text" placeholder="Types">
          </label>
        </div>
        </div>
        <div class="padding">
          <button class="button button-block button-dark" ng-click="update();" ui-sref="app.home">Save</button>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
