<ion-view title="User Profile" ng-init="populate();">
  <ion-content has-header="true">
    <form novalidate name="userProfileForm">
      <div class="list profileForm">
        <h3 class="item profileheading">Username: {{data.username}}</h3>
        <!--<div class="row">-->
          <!--<label class="col item item-input item-floating-label profileinput">-->
            <!--<span class="input-label">Old Password</span>-->
            <!--<input ng-model="data.oldPassword" type="password" name="oldpassword" placeholder="Old Password">-->
          <!--</label>-->
        <!--</div>-->
        <!--<div class="row">-->
          <!--<label class="col item item-input item-floating-label profileinput">-->
            <!--<span class="input-label">New Password</span>-->
            <!--<input ng-model="data.newPassword" type="password" name="newpassword" placeholder="New Password">-->
          <!--</label>-->
        <!--</div>-->
        <div class="row">
          <label class="col item item-input item-floating-label profileinput">
            <span class="input-label">Email</span>
            <input ng-model="data.email" type="email" name="email" placeholder="Email">
          </label>
        </div>
        <div class="row">
          <label class="col item item-input item-floating-label profileinput">
            <span class="input-label">Display Name</span>
            <input ng-model="data.displayname" name="displayname" type="text" placeholder="Display Name">
          </label>
        </div>
        <div class="row">
          <label class="col item item-input item-floating-label profileinput">
            <span class="input-label">First</span>
            <input ng-model="data.firstname" type="text" name="firstname" placeholder="First">
          </label>
          <label class="col item item-input item-floating-label profileinput">
            <span class="input-label">Middle</span>
            <input ng-model="data.middlename" type="text" name="middlename" placeholder="Middle">
          </label>
          <label class="col item item-input item-floating-label profileinput">
            <span class="input-label">Last</span>
            <input ng-model="data.lastname" type="text" name="lastname" placeholder="Last">
          </label>
        </div>
        <div class="row">
          <label class="col col item item-input item-floating-label profileinput">
            <span class="input-label">Zip Code</span>
            <input ng-model="data.zipcode" type="number" name="zipcode" placeholder="Zip Code">
          </label>
          <label class="col item item-input item-floating-label profileinput">
            <span class="input-label">Age</span>
            <input ng-model="data.age" name="age" type="number" placeholder="Age">
          </label>
        </div>
        <div class="padding">
          <button class="button button-block button-dark" ng-click="update();" ui-sref="app.home">Save</button>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
