.leftnavitem {
  cursor: pointer;
  &:hover {
    cursor: pointer;
  }
}
.popover {
  height: 110px;
}
.onlinestatus {
  line-height: 2;
  font-size: 1.3em;
  padding-left: 10%;
  & > label {
    left: 30%;
  }
}
