<ion-side-menus ng-init="check.isOnline();">
<ion-pane ion-side-menu-content drag-content="false">
    <ion-nav-bar class="bar-dark nav-title-slide-ios7">
      <!--<ion-nav-back-button class="button-clear" ng-if="!!false"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>-->
      <ion-nav-buttons side="left">
        <button menu-toggle="left" ng-if="check.isAuth()" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button ng-show="!check.isVendor()" ui-sref="app.userProfile" ng-if="check.isAuth()" class="button button-icon icon ion-gear-b "></button>
        <button ng-show="check.isVendor()" ng-click="popover.show($event)" ng-if="check.isAuth()" class="button button-icon icon ion-gear-b"></button>
      </ion-nav-buttons>
      <div class="tabs-striped tabs-top tabs-background-dark tabs-calm" ng-hide="!state">
        <div class="tabs maintabs">
          <a class="tab-item" ui-sref-active="active" ui-sref="app.usermap">
            <i class="icon ion-map"></i>
            Map
          </a>
          <a class="tab-item" ui-sref-active="active" ui-sref="app.userlist">
            <i class="icon ion-clipboard"></i>
            List
          </a>
        </div>
      </div>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-dark">
      <h1 class="title">Welcome</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item nav-clear menu-close ui-sref="app.usermap" class="leftnavitem">
          Home
        </ion-item>
        <ion-item ng-show="check.isVendor()" nav-clear menu-close ui-sref="app.vendorHome" class="leftnavitem">
          Vendor Home
        </ion-item>
        <ion-item ng-show="!check.isVendor()" nav-clear menu-close ui-sref="app.vendorSignup" class="leftnavitem">
          Vendor Signup
        </ion-item>
        <ion-item nav-clear menu-close ng-click="logout()" class="leftnavitem">
          Logout
        </ion-item>
      </ion-list>
    </ion-content>
    <div class="bar bar-footer bar-stable onlinestatus">
      <!-- Vendor Status -->
      <ion-toggle ng-model="data.status" ng-click="changeStatus();" toggle-class="calm">Vendor Status</ion-toggle>
      <!-- <label class="toggle">
        <input type="checkbox">
        <div class="track">
          <div class="handle"></div>
        </div>
      </label> -->
    </div>
  </ion-side-menu>
</ion-side-menus>
<script id="templates/popover.html" type="text/ng-template">
  <ion-popover-view>
    <ion-content>
      <div class="list">
        <a class="item" ui-sref="app.userProfile" ng-click="popover.hide($event)">
          User Settings
        </a>
        <a class="item" ui-sref="app.vendorProfile" ng-click="popover.hide($event)">
          Vendor Settings
        </a>
      </div>
    </ion-content>
  </ion-popover-view>
</script>
