ion-nav-bar.bar .title {
  text-transform: uppercase;
  font-weight: 300;
}
.leftnavitem {
  cursor: pointer;
  &:hover {
    cursor: pointer;
  }
}
.popover {
  height: 110px;
}
.onlinestatus {
  font-size: 1.3em;
  padding: 0;
  & > .vendor-toggle {
    background: transparent;
    background-color: transparent;
    border: none;
    width: 100%;
  }
}

.stablemenu {
  background: $stable;
}
ion-side-menu i, ion-popover-view i {
  color: $calm;
}
