<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Filter By</h1>
    <button class="button button-clear button-positive" ng-click="clearFilter()">Clear</button>
  </ion-header-bar>
  <ion-content class="hasFilter">
    <div class="filterArea">
      <h5 class="title">Current Filters:</h5>
      <button class="button button-small icon-right ion-close button-dark filterItem">
        Art
      </button>
      <button class="button button-small icon-right ion-close button-dark filterItem">
        Closest
      </button>
    </div>
    <div class="list">
      <div class="item item-divider">
        Types
      </div>
      <div class="item item-checkbox">
        <label class="checkbox">
          <input name="types-art" type="checkbox">
        </label>
        Art
      </div>
      <div class="item item-checkbox">
        <label class="checkbox">
          <input name="types-music" type="checkbox">
        </label>
        Music
      </div>
      <div class="item item-checkbox">
        <label class="checkbox">
          <input name="types-performance" type="checkbox">
        </label>
        Performance
      </div>
      <div class="item item-checkbox">
        <label class="checkbox">
          <input name="types-food" type="checkbox">
        </label>
        Food
      </div>
      <div class="item item-checkbox">
        <label class="checkbox">
          <input name="types-goods" type="checkbox">
        </label>
        Goods
      </div>
      <div class="item item-checkbox">
        <label class="checkbox">
          <input name="types-farmers" type="checkbox">
        </label>
        Farmers Markets
      </div>
      <div class="item item-divider">
        Location
      </div>
      <div class="item item-checkbox">
        <label class="checkbox">
          <input name="location-closest" type="checkbox">
        </label>
        Closest
      </div>
      <div class="item item-divider">
        Stats
      </div>
      <div class="item item-checkbox">
        <label class="checkbox">
          <input name="stats-bestrating" type="checkbox">
        </label>
        Best Rating
      </div>
    </div>
  </ion-content>
  <button class="bar bar-footer bar-assertive" ng-click="hideFilter()">
    <div class="title">Close</div>
  </button>
</ion-modal-view>
