<ion-view title="Change Password">
  <ion-content has-header="true">
    <form novalidate name="userProfileForm">
      <div class="list profileForm">
        <div class="row">
          <label class="col item item-input item-floating-label profileinput">
            <span class="input-label">Old Password</span>
            <input ng-model="data.oldPassword" type="password" name="oldpassword" placeholder="Old Password">
          </label>
        </div>
        <div class="row">
          <label class="col item item-input item-floating-label profileinput">
            <span class="input-label">New Password</span>
            <input ng-model="data.newPassword" type="password" name="newpassword" placeholder="New Password">
          </label>
        </div>
        <div class="padding">
          <button class="button button-block button-dark" ng-click="update();" ui-sref="app.home">Save</button>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
