.scroll, .angular-leaflet-map {
  height: 100%;
}

.mycompass {
   font-size: 40px;
   color: $positive;
}

.leaflet-bottom {
  bottom : 10px;
}

.item.item-body p {
  margin-top: 0;
}

.tabs.border-top {
  border-top: 1px solid #ddd !important;
}
