.payments-modal {
  background-color: $light;
  width: 80%;
  min-height: 405px;
  top: 10%;
  left: 10%;
  /* iOS fix */
  @media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
    height: 430px;
  }
}
.payments-modal-bank {
  background-color: $light;
  width: 80%;
  min-height: 320px;
  top: 10%;
  left: 10%;
  /* iOS fix */
  @media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
    height: 345px;
  }
}

.cardicon {
  i {
    text-align: center;
    font-size: 40px;
    &.active {
      color: $calm;
    }
  }
}

.payment-card {
  i {
    font-size: 40px;
  }
}
.payment-card-info {
  line-height: 2;
  font-size: 1.1em;
  color: lighten($dark, 15%);
}

.payment-button {
  i {
    padding-left: 0;
    padding-right: 0.2em;
  }
}
