<ion-view title="Payment Profiles">
  <ion-content class="has-header">
    <div class="row">
      <div class="col">
        <button class="button button-dark col" ng-click="showAddCard()">
          Add Card
        </button>
      </div>
      <div class="col">
        <button class="button button-dark col" ng-click="showAddBank()">
          Add Bank
        </button>
      </div>
    </div>
    <ion-list>
      <h3 class="item profileheading">
        Cards
      </h3>
      <h3 class="item profileheading">
        Bank Accounts
      </h3>
    </ion-list>
  </ion-content>
</ion-view>
