<ion-view title="Payment Profiles" ng-init="getCards()">
  <ion-content class="has-header">
    <div class="row">
      <div class="col">
        <button class="button button-dark col" ng-click="showAddCard()">
          Add Card
        </button>
      </div>
      <div class="col">
        <button class="button button-dark col" ng-click="showAddBank()">
          Add Bank
        </button>
      </div>
    </div>
    <ion-list>
      <h3 class="item profileheading">
        Cards
      </h3>
      <div class="item item-stable" item="item" ng-repeat="card in data.cards">
        <div class="row">
          <div class="col col-25 payment-card">
            <i ng-if="card.brand == 'Visa'" class="fa fa-cc-visa"></i>
            <i ng-if="card.brand == 'MasterCard'" class="fa fa-cc-mastercard"></i>
            <i ng-if="card.brand == 'Discover'" class="fa fa-cc-discover"></i>
            <i ng-if="card.brand == 'Amex'" class="fa fa-cc-amex"></i>
          </div>
          <div class="col payment-card-info">
            XXXX XXXX XXXX {{card.last4}}
          </div>
          <div ng-if="card.defaultcard">Default</div>
          <button ng-if="!card.defaultcard" ng-click-"setDefault(card.id);">Default</button>
        </div>
      </div>
      <h3 class="item profileheading">
        Bank Accounts
      </h3>
    </ion-list>
  </ion-content>
</ion-view>
