<ion-view title="Payment Profiles" ng-init="getCards()">
  <ion-content class="has-header">
    <div class="row">
      <div class="col">
        <button class="button button-dark col payment-button" ng-click="showAddCard()">
          <i class="fa fa-credit-card"></i>
          Add Card
        </button>
      </div>
      <div class="col">
        <button class="button button-dark col payment-button" ng-click="showAddBank()">
          <i class="fa fa-bank"></i>
          Add Bank
        </button>
      </div>
    </div>
    <ion-list>
      <h3 class="item profileheading">
        Cards
      </h3>
      <div class="item item-stable" item="item" ng-repeat="card in data.cards">
        <div class="row">
          <div class="col col-25 payment-card">
            <i ng-if="card.brand == 'Visa'" class="fa fa-cc-visa"></i>
            <i ng-if="card.brand == 'MasterCard'" class="fa fa-cc-mastercard"></i>
            <i ng-if="card.brand == 'Discover'" class="fa fa-cc-discover"></i>
            <i ng-if="card.brand == 'Amex'" class="fa fa-cc-amex"></i>
          </div>
          <div class="col payment-card-info">
            XXXX XXXX XXXX {{card.last4}}
          </div>
          <div class="col col-20 card-button-default" ng-if="card.defaultcard">
            <button class="button button-dark button-outline button-icon ion-ios7-checkmark button-block"></button>
          </div>
          <div class="col col-20 card-button-default" ng-if="!card.defaultcard">
            <button class="button button-dark button-outline button-icon ion-ios7-circle-outline button-block" ng-click="setDefault(card.id);"></button>
          </div>
        </div>
      </div>
      <h3 class="item profileheading">
        Bank Accounts
      </h3>
    </ion-list>
  </ion-content>
</ion-view>
