<ion-view title="Electric Avenue">
  <ion-nav-bar class="bar-dark nav-title-slide-ios7">
  </ion-nav-bar>
<ion-content has-header="true" has-tabs="true" padding="true" class="mainhome">
<div class="row">
  <div class="col text-center">
    <img class="logo"  ng-src="http://localhost:5000/profileImages/logo.jpg">
  </div>
</div>
<div class="row">
  <button class="col button button-block button-dark" ui-sref="login">Login</button>
</div>
<div class="row">
  <button class="col button button-block button-dark" ui-sref="signup">Sign Up</button>
</div>
</ion-content>
</ion-view>
